%h1 Coming September 25th!

= partial :registration, :erb => true

%ul
  %li This will be a grassroots, single-track event by Ruby lovers for ruby lovers.
  %li It will be hosted in Phoenix.
  %li Our speakers will be awesome.
  %li Registration will be very reasonable.
  %li Hacking will occur.

%br
%br

%p.padding-bottom
  Questions? 
  %a{:href => 'mailto:contact@sunnyconf.com'} Send us an email.

%p
  %a{ :href => '/documents/sponsors.pdf',      :class => 'awesome' } Sponsor SunnyConf
  %a{ :href => 'http://twitter.com/sunnyconf', :class => 'awesome' } Follow Us On Twitter

#speakers

  %h1 Speakers

  %p We're proud to present our lineup of speakers.

  .speaker
    %h2 Keynote -- Jeremy Ashkenas: Code is a Commons
    .inner
      %p
        Isn't it strange how with open-source code, the more you give away,
        the more you have? Writing software is qualitatively unlike any other
        field of human endeavor. We'll explore how open-source projects can
        avoid the tragedy of the commons, parallels to drafting legislation,
        and if it makes any sense to treat works of code as literature.
      
      %p
        %a{ :href => 'http://github.com/jashkenas' } Visit Jeremy's GitHub Profile

  .speaker
    %h2 Les Hill & Jim Remsik on How to Build a Team
    .inner
      %p
        Hashrocket began as a small four person shop aiming to build products
        and get rich doing the same. Something happened along the way and we
        wound up with a small principled consultancy that works hard and plays
        harder. Listen in as we share how we keep the culture, quality, and
        cohesive bond that makes Rocketeers love working for Hashrocket.

      %p
        We will cover hiring, communications, methodology, environment, culture, 
        and community:

      %ul
        %li Hiring: getting the right people is critical to building an awesome team
        %li Communications: openeness and transparency are essential to keeping focus and attitude
        %li Methodology: being Agile takes discipline and practice. It requires more than desire and reading a book
        %li Environment: being in an envrionment that is pleasant and enjoyable enhances productivity
        %li Culture: a shared set of values builds and keeps the team bonded
        %li Community: you are not isolated, participation and giving back are core values of the large Ruby/Rails and OS community

      %p
        %a{ :href => 'http://hashrocket.com/people/view/les-hill/'   } Visit Les's Profile on Hashrocket
        |
        %a{ :href => 'http://hashrocket.com/people/view/jim-remsik/' } Visit Jim's Profile on Hashrocket
      %p
        %a{ :href => 'http://rubyology.com/podcasts/show/87' } Rubyology interview with Les and Jim about their SunnyConf talk

  .speaker
    %h2 Charlie Nutter on JRuby: The Way to Enterprise-Friendly Ruby
    .inner
      %p
        You know that JRuby is Ruby for the JVM. But did you know you can
        deploy Ruby applications anywhere Java applications can go? Did you
        know that all the amazing profiling and debugging tools for the JVM
        work great with JRuby? Did you know that the entire world of Java
        libraries are available to Ruby users?

      %p
        In this talk, we'll show how JRuby is bringing Ruby to a wider world,
        making it possible to build Ruby apps for Java enterprises, for
        Android phones, for Java-based clouds like Google's AppEngine, and
        much more. We'll play with some of the amazing JVM tools like
        VisualVM, which allow you to monitor performance and memory use of
        live applications. We'll see how easy it is to use any Java library
        from Ruby. And we'll talk about strategies for getting Ruby into
        organizations that only allow Java or JVM-based deployments.
      
      %p
        %a{ :href => 'http://blog.headius.com/' } Visit blog.headius.com

  .speaker
    %h2 Blake Mizerany on Sinatra Extensions
    .inner
      %p
        Sinatra extensions. Learn them. Love them.

      %p
        We'll get intimate with how to create simple to advanced Sinatra extensions, and 
        all the cool little secrets about Sinatra you probably should have discovered a 
        long time ago. At the end of this talk, you'll be able to take your favorite 
        plugins from other frameworks, do them the Sinatra way, and leave the bloat behind.

      %p
        %a{ :href => 'http://github.com/bmizerany' } Visit Blake's GitHub Profile

  .speaker
    %h2 David Keener on Leveraging Rails to Build Facebook Applications
    .inner
      %p
        This talk is a distillation of some of the practical tactics that Dave's 
        development team at MetroStar Systems has used to create highly successful FaceBook 
        applications using Rails, including real-life systems like PollCast and Iran Voices. 
        FaceBook is the world's largest social network, with over 400 million members. The 
        talk also discusses the ramifications of the latest game-changing announcements from 
        Facebook's F8 Conference and how these changes are affecting Facebook development.

      %p
        Biography: David Keener is a solutions architect for MetroStar Systems, a fast-growing 
        consulting firm in the Washington DC metropolitan area providing services to 
        government agencies, non-profit organizations and the commercial sector. Dave has 
        over 23 years of experience, specializing in Ruby, Rails, social media and 
        (sometimes) even Java. He is a frequent public speaker at user groups and conferences,
        as well as a founder of the RubyNation Conference. He also blogs regularly on 
        Internet-related subjects at KeenerTech.com.

      %p
        %a{ :href => 'http://keenertech.com/' } Visit keenertech.com

  .speaker
    %h2 Andre Arko on Bundler: Painless Dependency Management
    .inner
      %p
        The new Bundler being released alongside Rails 3 has been designed to fix all of 
        your dependency problems. It makes using dependencies easy and reliable at the same 
        time. Bundler can handle your your Rails gem plugins, your application's 
        dependencies, and even your dependencies' dependencies, all automatically. 
        It even has built-in support for multiple environments, like development, testing 
        and production.

      %p
        In this talk Andre will walk through why Bundler was written, and why you should be 
        using it for all of your applications. He'll talk about how it makes dependency 
        management painless, and how to use it effectively in common scenarios. He will 
        cover using the Bundler with Rails 3, Rails 2, Sinatra, and any generic ruby 
        application. He will also talk about about his experiences helping maintain the 
        project, how to resolve the most common Bundler issues, and where the Bundler 
        is headed in the future.

      %p
        %a{ :href => 'http://arko.net/' } Visit arko.net
      
  .speaker
    %h2 Luigi Montanez on Civic Coding
    .inner
      %p
        How can Ruby change cities, states, and countries for the better? Last year, we saw 
        an explosion of interest around government transparency. The Open Government movement, 
        spearheaded by open source developers, seeks to make government more accountable 
        and responsible by turning open government data into citizen-focused, 
        civic-minded applications.
        
      %p
        This talk will guide you through the Gov 2.0 landscape. You'll learn about the data 
        sets and APIs available freely available for your use, the tools and skills you'll 
        need to be a successful civic hacker, and you'll get a thorough overview of the 
        current civic apps out there. Civic hacking will enhance your open source portfolio 
        while making a difference in your community and country.

      %p
        %a{ :href => 'http://luigimontanez.com/' } Visit luigimontanez.com

  .speaker
    %h2 Alex Sharp on Refactoring
    .inner
      %p
        This talk will focus solving difficult refactoring problems in a real world
        codebase. I will show actual code and demonstrate specific refactoring
        techniques to show how specific problems were solved. This is not a conceptual
        talk, and thus we will look at LOTS of real code. You've been warned!
      
      %p In this session, we will cover the following:
      
      %ol
        %li Educate audience on core principles of refactoring
        %li Present conceptual framework for approaching large refactorings
        %li Demonstrate common refactoring techniques, such as extract method, deprecate method, and characterization testing
        %li Identify common anti-patterns in web applications and specific refactoring strategies

      %p
        Attendees should expect to learn core refactoring strategies and techniques, 
        as well as techniques that can be frequently applied in refactoring web applications.

      %p
        %a{ :href => 'http://alexjsharp.com/' } Visit alexsharp.com

  .speaker
    %h2 Brian Bommarito on Testing
    .inner
      %p
        This talk will be a technology agnostic discussion on testing web applications. 
        We will learn how to create a testing workflow for a development team, the basics of 
        unit testing, using a continuous integration tool, and dealing with broken tests during 
        feature development.
      
      %p 
        This talk will also include a demo on how to test a Sinatra application with RSpec, 
        Cucumber and Hudson&mdash;a continuous integration tool.

      %p
        %a{ :href => 'http://brianbommarito.org/' } Visit brianbommarito.org

#sponsors

  %h1 Sponsors

  %h2 Bronze Level
  .sponsor
    %a{ :href => 'http://chargify.com/' }
      %img{ :src => '/images/sponsors/chargify.png' }
