%h1 Coming September 25th!

%p We're still working out the details, but here's what we can say for sure:

%ul
  %li This will be a grassroots, single-track event by Ruby lovers for ruby lovers.
  %li It will be hosted in Phoenix.
  %li Our speakers will be awesome.
  %li Registration will be very reasonable.
  %li Hacking will occur.

%p
  %a{ :href => '/documents/sponsors.pdf',      :class => 'awesome' } Sponsor SunnyConf
  %a{ :href => 'http://twitter.com/sunnyconf', :class => 'awesome' } Follow Us On Twitter

= partial :proposal

