#header

#content
   
  %h1 SunnyConf Is Coming!
  %h2 September 2010
 
  %p
    We're proud to announce the advent of<br />
    %strong Arizona's 1st Ruby Conference.

  #follow
    = link 'Follow @sunnyconf for updates!', 'http://twitter.com/sunnyconf'

  #footer
    = link "Sponsor's Packet", '/documents/sponsors.pdf'
  
