!!! XML
!!! Strict
%html
  %head
    %title Arizona's First Ruby Conference - Coming September 2010 | SunnyConf
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery.scrollTo.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery.localscroll.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/application.js' }
    %link{ :rel => 'stylesheet', :type => 'text/javascript', :href => '/stylesheets/awesome-buttons.css' }
    %link{ :rel => 'stylesheet', :type => 'text/javascript', :href => '/stylesheets/application.css' }
  %body
    #outer_wrapper

      #header
        %h1 Arizona's First Ruby Conference - SunnyConf

      #page
        
        .top
        .middle
          - if flash.include? :notice
            .flash.notice= flash[:notice]
          = yield
        .bottom

      #footer
        All Materials &copy; 2010 SunnyConf

