body

  // LAYOUT

  #header
    border: 1px solid black
    height: 100px
    width:  100px
    margin: 1em auto 1em auto

  #content
    border:        1px solid black
    border-radius: 1em
    margin:        auto
    width:         70%
    padding:       0.5em
    min-height:    400px

  // FORM ELEMENTS

  fieldset
    padding: 1em

    input, textarea
      display: block
      margin-bottom: 1em

    textarea
      width:  500px
      height: 250px
