=rounded_corners( !radius )
  border-radius= !radius
  -moz-border-radius= !radius
  -webkit-border-radius= !radius

*
  :margin 0
  :padding 0

html
  :background #949494 url(/images/html-bg.jpg)

body
  :background transparent url(/images/body-bg.jpg) top center repeat-x

#outer_wrapper
  :background transparent url(/images/header-bg.jpg) top center no-repeat

#header
  :height 185px
  :width 816px
  :margin 0 auto
  :position relative

  h1
    :display none

  #nav
    :font bold 24px/1.25em helvetica, arial, sans-serif
    :letter-spacing -1px
    :position absolute
    :top 185px
    :left 0
    :width 816px
    :text-align center
    
    li
      :display inline

    a
      :color white
      :text-decoration none
      :padding 0 20px

#page
  :width 816px
  :margin 35px auto 0 auto
  :position relative
  :font 14px/1.5em helvetica, arial, sans-serif

  .top
    :height 40px
    :background transparent url(/images/page-top.png) top center no-repeat

  .middle
    :background transparent url(/images/page-middle.png) center center repeat-y
    :padding 0 30px 40px 30px

  .bottom
    :height 14px
    :background transparent url(/images/page-bottom.png) top center no-repeat

  h1
    :font bold 30px/1.25em helvetica, arial, sans-serif
    :letter-spacing -2px
    :color #c02b23
    :margin 2em 0 .25em 0
    :border-top 1px solid #aaa
    :padding-top 10px

  .middle > h1:first-child
    :margin-top 0
    :border-top none

  p
    :margin 0 0 1em 0
    :color #333
    
  p.padding-bottom
    :padding-bottom 1.2em

  a
    :color #c02b23

  ul
    :margin 0 0 1em 40px
    :font-size 18px
    :font-weight bold

  ol
    :margin 0 0 1em 40px

  a:hover
    :text-shadow #aaa 1px 1px

  dl
    :margin 0 0 2em 0

    dt
      :font-weight bold
      :display block

    dd
      :display block
      :margin 0 0 1em 0

  #error_messages
    :background #333
    :color white
    :padding 20px
    :margin 0 0 1em 0

    h3
      :font-weight bold
      :font-size 18px
      :margin 0 0 .5em 0

  form
    
    label
      :display block
      :font-weight bold
      :color black
      :font-size 18px
      :margin 0 0 5px 0
    
    input[type=text], input[type=email], textarea
      :border 1px solid #ccc
      :padding 4px
      :font inherit

    input[type=text], input[type=email]
      :width 300px

    textarea
      :width 746px
      :height 200px

  .awesome
    :padding 10px 15px 11px !important
    :font-size 18px !important
    :font-weight bold !important
    :margin-right 2px

  .awesome:active
    :padding 11px 15px 10px !important

  .awesome.cancel
    :background-color #888 !important

#speakers
  .speaker
    :background #f1f1f1
    :padding 15px
    :border 1px solid #ddd
    :margin 0 0 .5em 0
    +rounded_corners( 5px )

    h2
      :font bold 24px/1.25em helvetica, arial, sans-serif
      :letter-spacing -1px
      :color #c02b23

    h2.hover
      :color #f00

    .inner
      :padding-top 1em

    ul
      :font-weight normal
      :font-size inherit

#registration
  :float right
  :margin 0 0 0 30px
  :position relative
  :top -50px

#sponsors
  
  h2
    :font bold 24px/1.25em helvetica, arial, sans-serif
    :letter-spacing -1px
    :color #ccc
    :margin 1em 0 .5em 0

  a
    img
      :border none

#footer
  :height 50px
  :width 816px
  :text-align center
  :margin 0 auto
  :padding 10px 0 30px 0
  :font bold 14px helvetica, arial, sans-serif

