<div id="registration">
  <div style="width:195px; text-align:center;">
    <iframe src="http://www.eventbrite.com/countdown-widget?eid=769378231" frameborder="0" height="376" width="220" marginheight="0" marginwidth="0" scrolling="no"></iframe>
  </div>
</div>
