<div id="speakers_side" class="clearfix sidenav">
  <h2>Speakers</h2>
  <ul id="menu">
    <li><a href="/jeremy-ashkenas-keynotes-at-sunnyconf">Jeremy Ashkenas</a></li>
    <li><a href="/les-hill-and-jim-remsik-jr-at-sunnyconf-on-how-to-build-a-team">Les Hill and Jim Remsik</a></li>
    <li><a href="/charlie-nutter-at-sunnyconf-on-jruby">Charlie Nutter</a></li>
    <li><a href="/blake-mizerany-at-sunnyconf-on-writing-sinatra-extensions">Blake Mizerany</a></li>
    <li><a href="/david-keener-at-sunnyconf-on-leveraging-rails-to-build-scalable-facebook-apps">David Keener</a></li>
    <li><a href="/andre-arko-at-sunnyconf-on-managing-ruby-dependencies-with-bundler">Andre Arko</a></li>
    <li><a href="/luigi-montanez-at-sunnyconf-on-civic-coding">Luigi Montanez</a></li>
    <li><a href="/alex-sharp-at-sunnyconf-on-refactoring-ruby-apps">Alex Sharp</a></li>
    <li><a href="/brian-sam-bodden-at-sunnyconf-on-the-trellis-web-framework">Brian Sam-Bodden</a></li>
  </ul>
</div>
