<div id="sponsors_side" class="clearfix sidenav">
  <h2>Gold Sponsors</h2>
  <ul id="menu">
    <li><a href="http://integrumtech.com/"><img src="/theme/images/sponsors/integrum.png" width="180px"/ ></a></li>
  </ul>
  
  <h2>Bronze Sponsors</h2>
  <ul id="menu">
    <li><a href="http://chargify.com/"><img src="/theme/images/sponsors/chargify.png" width="180px"/ ></a></li>
  </ul>
  
  <h2>Schwag sponsors</h2>
  <ul id="menu">
    <li><a href="http://heroku.com/"><img src="/theme/images/sponsors/heroku.jpg" width="180px"/ ></a></li>
    <li><a href="http://peepcode.com/"><img src="/theme/images/sponsors/peepcode.png" width="180px"/ ></a></li>
  </ul>
</div>
