<div id="sponsors_side" class="clearfix sidenav">
  <h2>Gold Sponsors</h2>
  <ul id="menu">
    <li class="logo"><a href="http://integrumtech.com/"><img src="/theme/images/sponsors/integrum.png" width="180px"/ ></a></li>
  </ul>
  
  <h2>Silver Sponsors</h2>
  <ul id="menu">
    <li class="logo"><a href="http://devfu.com/"><img src="/theme/images/sponsors/devfu.png" width="180px"/ ></a></li>
  </ul>

  
  <h2>Bronze Sponsors</h2>
  <ul id="menu">
    <li class="logo"><a href="http://chargify.com/"><img src="/theme/images/sponsors/chargify.png" width="180px"/ ></a></li>
    <li class="logo"><a href="http://blueboxgrp.com/?utm_source=SunnyConf&utm_medium=banner&utm_campaign=SunnyConf"><img src="/theme/images/sponsors/bbg.jpg" width="180px"/ ></a></li>
  </ul>
  
  <h2>Schwag sponsors</h2>
  <ul id="menu">
    <li class="logo"><a href="http://heroku.com/"><img src="/theme/images/sponsors/heroku.jpg" width="180px"/ ></a></li>
    <li class="logo"><a href="http://peepcode.com/"><img src="/theme/images/sponsors/peepcode.png" width="180px"/ ></a></li>
    <li class="logo"><a href="http://www.informit.com/usergroups"><img src="/theme/images/sponsors/pearson.png" width="180px"/ ></a></li>
    <li class="logo"><a href="http://stickermule.com/"><img src="/theme/images/sponsors/stickermule.png" width="180px"/ ></a></li>
    <li class="logo"><a href="http://tempetourism.com/"><img src="/theme/images/sponsors/tempe.png" width="180px"/ ></a></li>
    <li class="logo"><a href="http://engineyard.com/"><img src="/theme/images/sponsors/engineyard.png" width="80px" style="padding-left: 50px"/ ></a></li>
  </ul>
</div>
