<div id="twitter_side" class="clearfix sidenav">
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: 'sunnyconf',
    interval: 6000,
    title: '',
    subject: 'SunnyConf',
    width: 200,
    height: 500,
    theme: {
      shell: {
        background: '#8ec1da',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
      }
    },
    features: {
      scrollbar: true,
      loop: true,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      toptweets: true,
      behavior: 'all'
    }
  }).render().start();
  </script>
</div>